@import url('https://fonts.googleapis.com/css2?family=Itim&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  scroll-snap-stop: always;
}

@supports (scroll-timeline: --scroll) {
  html {
    scroll-timeline: --scroll y;
  }
}
